body,
html {
    height: 100%;
    margin: 0;
    background-image: url(/images/backgrounds/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page {
    margin: auto;
    height: 100%;
    width: 70%;
}

.page1-content {
    background-image: url(/images/backgrounds/background2.jpg);
    background-position: center;
    background-size: cover;
    height: 40%;
    background-repeat: no-repeat;
}

.navigation {
    list-style-type: none;
    width: 100px;
    height: 100%;
}

.list1 {
    display: block;
    color: black;
    margin-bottom: 40px;
    padding-bottom: 20px;
    text-decoration: none;
}

.list1:hover {
    background-color: grey;
    color: white;
}

#page1-title {
    color: white;
    font-family: 'Style Script', cursive;
    font-size: 90px;
    color: white;
}

.pizza-menu {
    color: white;
    text-align: center;
    margin-top: 100px;
}

.cart {
    background-color: transparent;
    text-align: right;
    color: white;
}

#checkout-button {
    background-color: transparent;
    color: white;
    margin: 10px;
}

.orientation {
    color: white;
}

#page2 {
    display: none;
}

.contact-heading {
    text-align: center;
}

.social-media {
    text-align: center;
}

.social-media-icons {
    list-style-type: none;
    display: inline;
}